<div class="container mx-auto">
    <div class="bg-white">
        <nav class="flex flex-col sm:flex-row justify-center">
            <button class="tablinks text-gray-600 py-4 px-6 block hover:text-indigo-500 focus:outline-none border-b-2 border-indigo-500">
                Main
            </button>
            
            <a href="/admin" class="tablinks text-gray-600 py-4 px-6 block hover:text-indigo-500 focus:outline-none">
                Admin Dashboard
            </a>
        </nav>
    </div>

    <div class="mt-10">
        <h1><%= @user.name %></h1>
        <h3><%= @user.username %></h3>

        <p><strong>Role:</strong> <%= @user.role.name %></p>

        <% if current_user.id == @user.id %>
            <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'button' %>
        <% end %>

        <%= link_to 'New Listing', new_listing_path %>
    </div>
</div>
